<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
<title>Smith Family Reunion 2017</title>
</head>
<body>